<div class="content">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Twitter Trends</a>
      <div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#"
              ><img
                src="../assets/icon/Twitter_Logo_Blue.png"
                width="32px"
                height="32px"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-8">
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for..."
                [(ngModel)]="search"
              />
              <span class="input-group-btn">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="onSearch()"
                >
                  Go!
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-8">
        <!-- Categories Widget -->
        <div class="card">
          <h5 class="card-header">
            {{ trendsRegionShown }} {{ trendsTimeRangeShown }}·
            <a
              href="#"
              style="font-size: 10pt"
              data-toggle="modal"
              data-target="#trendsModalCenter"
              >Change</a
            >
          </h5>
          <!-- Modal -->
          <div
            class="modal fade"
            id="trendsModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="trendsModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form novalidate #trendsForm="ngForm" (ngSubmit)="onSubmit()">
                  <div class="modal-header">
                    <h5 class="modal-title" id="trendsModalCenter">Trends</h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="modal-body">
                    <label for="inputEmail4">Location</label>
                    <div class="input-group">
                      <select
                        class="custom-select"
                        name="locationID"
                        [(ngModel)]="form.locationID"
                        placeholder="Select locations"
                      >
                        <option
                          *ngFor="let location of locations"
                          [value]="location.id"
                          >{{ location.name }}</option
                        >
                      </select>
                    </div>
                    <h1 class="my-4"></h1>
                    <label for="inputEmail4">Date Range</label>
                    <div class="input-daterange input-group">
                      <input
                        name="bsRangeValue"
                        class="input-sm form-control"
                        #drp="bsDaterangepicker"
                        bsDaterangepicker
                        [(ngModel)]="bsRangeValue"
                        [bsConfig]="bsConfig"
                        [maxDate]="maxDate"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Done</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <ul class="list-group">
            <a
              href="javascript:void(0)"
              (click)="onSearch(trend.key)"
              *ngFor="let trend of trends"
            >
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                {{ trend.key }}
                <span
                  class="badge badge-primary badge-pill"
                  *ngIf="
                    trend.max_popular.value >= 1000 &&
                    trend.max_popular.value < 1000000
                  "
                  >{{ trend.max_popular.value / 1000 | number: "1.2-2" }}K</span
                >
                <span
                  class="badge badge-primary badge-pill"
                  *ngIf="trend.max_popular.value >= 1000000"
                  >{{
                    trend.max_popular.value / 1000000 | number: "1.2-2"
                  }}M</span
                >
              </li>
            </a>
          </ul>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
    <div id="tweetsContent" class="row"><h1 class="my-4"></h1></div>
    <div id="tweetsContent2" class="row"><h1 class="my-2"></h1></div>
    <div class="row">
      <div class="col-md"></div>
      <div
        class="alert alert-primary col-md-6"
        role="alert"
        *ngIf="selectedOrSearched"
      >
        {{ contentOfAlert }}
      </div>
      <div class="col-md"></div>
    </div>
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md">
        <blockquote class="twitter-tweet" data-lang="en-us">
          <a
            href="https://publish.twitter.com/oembed?
          url=https://twitter.com/Lakers/status/1064329077568372736"
          ></a>
        </blockquote>

        
          <ngx-tweet
            *ngFor="let tweet of tweets"
            tweetId="{{tweet._id}}"
          ></ngx-tweet>
       

        <!-- <blockquote
          class="twitter-tweet"
          data-lang="en-us"
          *ngFor="let tweet of tweets"
        >
          <a
            href="https://twitter.com/{{tweet._source.screen_name}}/status/{{tweet._id}}"
          ></a>
        </blockquote> -->
      </div>
      <div class="col-md"></div>
    </div>
    <!-- </div> -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  </div>
  <!-- /.container -->
</div>
